<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile</title>

  <!-- ================= Favicon ================== -->
  <!-- Standard -->
  <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
  <!-- Retina iPad Touch Icon-->
  <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
  <!-- Retina iPhone Touch Icon-->
  <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
  <!-- Standard iPad Touch Icon-->
  <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
  <!-- Standard iPhone Touch Icon-->
  <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

  <!-- Common -->
  <link href="assets/css/lib/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
  <link href="assets/css/lib/menubar/sidebar.css" rel="stylesheet">
  <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/lib/helper.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
                            <!-- <img src="assets/images/logo.png" alt="" /> --><span>SSF</span>
                        </a></div>
                    <li><a href="/profile"><i class="ti-user"></i>Create Profile</a></li>
                    <li><a href="/skills"><i class="ti-user"></i>Test Your Skills</a></li>
                    <li><a href="/resources"><i class="ti-user"></i>Resources </a></li>
                    <li><a href="../login.html"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
  <!-- /# sidebar -->


  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="float-left">
            <div class="hamburger sidebar-toggle">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>
          <div class="float-right">
            <div class="dropdown dib">
              <div class="header-icon" data-toggle="dropdown">
                <i class="ti-bell"></i>
                <div class="drop-down dropdown-menu dropdown-menu-right">
                  <div class="dropdown-content-heading">
                    <span class="text-left">Recent Notifications</span>
                  </div>
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="#">
                          <img class="pull-left m-r-10 avatar-img" src="assets\images\profile.jpg" alt="Profile Image" />
                          <div class="notification-content">
                            <small class="notification-timestamp pull-right">02:34 PM</small>
                            <div class="notification-heading">Mr. Jashan</div>
                            <div class="notification-text">5 members joined today </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                          <div class="notification-content">
                            <small class="notification-timestamp pull-right">02:34 PM</small>
                            <div class="notification-heading">Mariam</div>
                            <div class="notification-text">likes a photo of you</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                          <div class="notification-content">
                            <small class="notification-timestamp pull-right">02:34 PM</small>
                            <div class="notification-heading">Tasnim</div>
                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                          <div class="notification-content">
                            <small class="notification-timestamp pull-right">02:34 PM</small>
                            <div class="notification-heading">Mr. Jashan</div>
                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                          </div>
                        </a>
                      </li>
                      <li class="text-center">
                        <a href="#" class="more-link">See All</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="dropdown dib">
              <div class="header-icon" data-toggle="dropdown">
                <span class="user-avatar">Jashan
                  <i class="ti-angle-down f-s-10"></i>
                </span>
                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">

                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="ti-user"></i>
                          <span>Profile</span>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="ti-power-off"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="content-wrap">
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">

            </div>
          </div>
          <!-- /# column -->
          <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
              <div class="page-title">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Profile</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /# column -->
        </div>
        <!-- /# row -->
        <section id="main-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="user-profile">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="user-photo m-b-30">
                          <img class="img-fluid" src="assets/images/profile.jpg" alt="" />
                        </div>


                      </div>
                      <div class="col-lg-8">
                        <form action="/profile" method="POST">
                        <div class="user-profile-name">Jashandeep Singh</div>
                        <div class="user-Location">
                          <i class="ti-location-pin"></i><input type="text" placeholder="Patiala, Punjab" />
                        </div>
                        <div class="user-job-title">SDE</div>
                        <div class="ratings">
                          <h4>Ratings</h4>
                          <div class="rating-star">
                            <span>8.9</span>
                            <i class="ti-star color-primary"></i>
                            <i class="ti-star color-primary"></i>
                            <i class="ti-star color-primary"></i>
                            <i class="ti-star color-primary"></i>
                            <i class="ti-star"></i>
                          </div>
                        </div>
                        <div class="custom-tab user-profile-tab">
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#1" aria-controls="1" role="tab" data-toggle="tab">About</a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="1">
                              <div class="contact-information">
                                <h4>Contact information</h4>
                                <div class="phone-content">
                                  <span class="contact-title">Phone:</span>
                                  <span class="phone-number"><input type="text" placeholder="+91 00000000000" name="phone"/></span>
                                </div>
                                <div class="address-content">
                                  <span class="contact-title">Address:</span>
                                  <span class="mail-address"><input type="text" placeholder="XXXXXXXXXXXXXXXX" name="address"/></span>
                                </div>
                                <div class="email-content">
                                  <span class="contact-title">Email:</span>
                                  <span class="contact-email">abcd@gmail.com</span>
                                </div>
                                <div class="basic-information">
                                  <h4>Basic information</h4>
                                  <div class="birthday-content">
                                    <span class="contact-title">Birthday:</span>
                                    <span class="birth-date"><input type="text" placeholder="Nov 16, 2000" name="birthday"/> </span>
                                  </div>
                                  <div class="gender-content">
                                    <span class="contact-title">Gender:</span>
                                    <span class="gender"><input type="text" placeholder="Male" name="gender"/>
                                    </span>
                                  </div>

                                  <h4>Departments</h4>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Mechanical" onclick="addMech()">
                                    <label class="form-check-label" for="inlineRadio1">Mechanical</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Electrical" onclick="addElec()">
                                    <label class="form-check-label" for="inlineRadio2">Electrical</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="IT" onclick="addIT()">
                                    <label class="form-check-label" for="inlineRadio2">Computer Science</label>
                                  </div>

                                  <h4>Skills</h4>
                                  <div id="mech">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills1" id="inlineCheckbox1" value="robotics">
                                      <label class="form-check-label" for="inlineCheckbox1">Robotics</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills2" id="inlineCheckbox2" value="NanoTechnology">
                                      <label class="form-check-label" for="inlineCheckbox2">Nano Technology</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills3" id="inlineCheckbox3" value="GeoMech">
                                      <label class="form-check-label" for="inlineCheckbox2">Geo Mechanics</label>
                                    </div>
                                  </div>

                                  
                                  <div id="elec">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills1" id="inlineCheckbox1" value="autocad">
                                      <label class="form-check-label" for="inlineCheckbox1">Autocad</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills2" id="inlineCheckbox2" value="matlab">
                                      <label class="form-check-label" for="inlineCheckbox2">Matlab</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills3" id="inlineCheckbox3" value="digElec">
                                      <label class="form-check-label" for="inlineCheckbox2">Digital Electronics</label>
                                    </div>
                                  </div>


                                  <div id="infor">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills1" id="inlineCheckbox1" value="C">
                                      <label class="form-check-label" for="inlineCheckbox1">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills2" id="inlineCheckbox2" value="c++">
                                      <label class="form-check-label" for="inlineCheckbox2">C++</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="skills3" id="inlineCheckbox3" name="skills3" value="java">
                                      <label class="form-check-label" for="inlineCheckbox2">Java</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Save Profile</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="footer">
                  <p>2022 © NGO. -
                    <a href="#">abcd.com</a>
                  </p>
                </div>
              </div>
            </div>
        </section>
      </div>
    </div>
  </div>







  <!-- Common -->
  <script src="assets/js/lib/jquery.min.js"></script>
  <script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
  <script src="assets/js/lib/menubar/sidebar.js"></script>
  <script src="assets/js/lib/preloader/pace.min.js"></script>
  <script src="assets/js/lib/bootstrap.min.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script>
    document.querySelector('#mech').style.visibility = "hidden";
    document.querySelector('#elec').style.visibility = "hidden";
    document.querySelector('#infor').style.visibility = "hidden";
    function addMech(){
      document.querySelector('#mech').style.visibility = "visible";
      document.querySelector('#elec').style.visibility = "hidden";
      document.querySelector('#infor').style.visibility = "hidden";
    }
    function addElec(){
      document.querySelector('#elec').style.visibility = "visible";
      document.querySelector('#mech').style.visibility = "hidden";
      document.querySelector('#infor').style.visibility = "hidden";
    }
    function addIT(){
      document.querySelector('#infor').style.visibility = "visible";
      document.querySelector('#mech').style.visibility = "hidden";
    document.querySelector('#elec').style.visibility = "hidden";
    }
  </script>

</body>

</html>